body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.sidebar {
  width: 180px;
  background-color: #e8edf3;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  color: #292d78;
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul.show {
  max-height: 500px;
  overflow: visible;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #0067a5;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.sidebar ul li a:hover {
  color: #292d78;
  text-decoration: none;
  text-shadow: #292d78 0px 0px 0.5px;
}

.content {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 30px;
}

.content a {
  text-decoration: none;
  color: #39c;
  font-weight: normal;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.content a:hover {
  color: #0067a5;
  text-decoration: none;
  text-shadow: #0067a5 0px 0px 0.5px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #292d78;
}

@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    text-align: center;
  }
  
  .content {
    padding: 20px;
  }
}

@media screen and (max-width: 720px) {
  .sidebar.collapsed {
    width: 50px;
    padding: 10px;
    overflow: hidden;
    transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
  }

  .sidebar.collapsed h2 {
    display: none;
  }

  .sidebar.collapsed ul {
    display: none;
  }

  .sidebar:not(.collapsed) ul {
    display: block;
    max-height: 500px;
    overflow: visible;
  }

  .menu-toggle {
    display: block;
    margin-bottom: 10px;
  }

  .sidebar ul {
    /* max-height: 0;
    overflow: hidden; */
    transition: max-height 0.5s ease-in-out;
  }
}
